.login-form {
  text-align: center;
  position: fixed;
  width: 310px;
  left: 50%;
  margin-left: -150px;
  top: 50%;
  margin-top: -150px;
}

.title {
  padding: 16px 0 0 0;
}

.description {
  text-align: left;
}
